<!DOCTYPE html>
<html>
<head>
    <title>Rental System</title>
</head>
<body>

<h1>Available Items for Rent</h1>

<ul>
    <% items.forEach(item => { %>
        <li>
            <strong><%= item.name %></strong> 
            (<%= item.category %>)
            <a href="/book/<%= item._id %>">Rent</a>
        </li>
    <% }) %>
</ul>

<br>
<a href="/bookings">View Bookings</a>

</body>
</html>